.navbar-nav2{
    padding-bottom:10px;
    padding-top: 10px;
    color: #fff;
    margin: 14px;
}

#preferenceList{
    display:none;
    background-color: white;
    color: black;
    z-index:9999999999;
}

#overlay:target{
    display:inline-block;
}
.fdn p{
    font-size: 12px;
}